@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<label class="full-width">Select 3 items:</label>
<sf-list-selector sf-item-type="'Telerik.Sitefinity.DynamicTypes.Model.Tours.Tour'"
                 
                  sf-dynamic-items-selector
                  sf-multiselect="true"
                  sf-sortable="true"
                  sf-selected-ids="ids"
                  sf-selected-items="selectedItems" />

