<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6604.0" authCookieName=".SFAUTH-Natours" rolesCookieName=".SFROLES-Natours" validationKey="41794D9BA63AD6BB16635B9964C1456E10FB1FE7ECBE21EA804DE054C30EF299325E0688EA3BCC243A55B21C689D3816575B2D94220B3B296354B269E945AC8F" decryptionKey="D5288D98503F339CB162B1B7A29B6B122A774BE01FCADFFD5DBF4F164FDA54A1" loggingCookieName=".SFLOG-Natours">
	<securityTokenIssuers>
		<add key="A7185E16EDACE807974D066A3629A14FBDDE81C657F75D4836A3968891B6BD32" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="A7185E16EDACE807974D066A3629A14FBDDE81C657F75D4836A3968891B6BD32" realm="http://localhost" />
	</relyingParties>
</securityConfig>