@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<label class="full-width">Select 3 items:</label>
<sf-list-selector 
                  sf-item-type="itemType"
                  sf-dynamic-items-selector
                  sf-multiselect="true"
                  sf-sortable="true"
                  sf-selectedids="ids"
                  sf-selected-items="selectedItems"
                  sf-master="true"></sf-list-selector>